.formControl {
}
.error {
  color: yellowgreen;
  font-weight: bold;
  border: 1px solid red;
  display: inline-block;
  padding: 10px;
}

.error input {
}
.formControl.error textarea {
  border: 2px solid red;
}
.formControl.error span {
  color: red;
  display: block;
}
